body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.image-container {
    background: url('tu-imagen.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.content {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
}

h1 {
    font-size: 48px;
}

p {
    font-size: 24px;
}
